:root {
	--gridGap: 30px;
	--ff: 'Montserrat', serif;
	--rand: 10;
}

html, body{
	margin: 0;
	padding: 0;
	font-family: var(--ff);
	font-weight: 400;
	color: #222;
	scroll-behavior: smooth;
}

aside, figure, figcaption{
	margin: 0;
}

.pattern {
	height: 450px;
	font-weight: 700;
	font-size: 56px;
	background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
	color: #fff;
	background-clip: text;
	-webkit-text-stroke: 3px transparent; 
}

@for $i from 1 through 720 {
	.letter:nth-child(#{$i}) {
		--rr: calc(#{random(250)} * var(--rand) * 1deg);
		--fz: calc(#{random(60)} * var(--rand) * 1px);
		display: inline-flex;
		font-size: clamp(42px, var(--fz), 60px);
		transform: rotate(var(--rr));
	}
}


